[color]
	pager = no
[core]
	pager = nvim -R --cmd 'let g:pager_mode = 1'
[push]
	default = simple
[user]
	email = 169247+duboisf@users.noreply.github.com
	name = Fred Dubois
	signingkey = 7FDBB1D481604E6E
[alias]
	co = checkout
	cp = cherry-pick
	lp = log -p
	pfh = push -u duboisf HEAD
	poh = push -u origin HEAD
	prs = !hub pr list
	prc = !hub pr checkout
	opr = !git poh && hub pull-request
[commit]
	verbose = true
	gpgsign = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = no
[diff]
	compactionHeuristic = true
[url "git@github.com:"]
	insteadOf = https://github.com/

# vim: noet
