[push]
	default = simple
[user]
	email = 169247+duboisf@users.noreply.github.com
	name = Fred Dubois
	signingkey = EAD1C56184229C79E576B6255EECC8A93659FC0D
[alias]
	auto-pr-merge = !gh pr merge --auto --merge
	# Prevent annoying 'Opening in existing browser session.' message
	browse = !bash -c 'gh browse &> /dev/null'
	co = checkout
	cp = cherry-pick
    fp = fetch --prune
	gclone = !gh repo clone
	lp = log -p
	pfh = push -u duboisf HEAD
	poh = push -u origin HEAD
	pr-merge = !gh pr merge --merge --delete-branch && git pull --prune
	prv = !gh pr view
	create-branch = !bash -c 'git switch -c fred/'$1
	delete-merged = !git branch --merged main | grep -vE '^[ *]*(main)$' | xargs -r git branch -D
	merge-worktree = "!f() { [ -z \"$1\" ] && echo 'usage: git merge-worktree <branch>' && exit 1; wt=$(git worktree list --porcelain | awk -v b=\"refs/heads/$1\" '/^worktree /{p=substr($0,10)} /^branch /{if($2==b)print p}'); [ -z \"$wt\" ] && echo \"error: no worktree found for branch '\"$1\"'\" && exit 1; git merge \"$1\" && git worktree remove \"$wt\"; }; f"
[commit]
	verbose = true
	gpgsign = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = no
[diff]
	compactionHeuristic = true
	submodule = log
[init]
	defaultBranch = main
[core]
	pager = less -F -X
[credential "https://github.com"]
	helper = !/home/fred/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/fred/.local/bin/gh auth git-credential
[fetch]
	pruneTags = true
[worktree]
	useRelativePaths = true

[include]
    path = ~/.gitconfig.local
