[color]
	pager = no
[core]
	pager = nvim -R --cmd 'let g:pager_mode = 1'
[push]
	default = simple
[user]
	email = 169247+duboisf@users.noreply.github.com
	name = Fred Dubois
	signingkey = 7FDBB1D481604E6E
[alias]
	auto-pr-merge = !gh pr merge --auto --merge
	# Prevent annoying 'Opening in existing browser session.' message
	browse = !bash -c 'gh browse &> /dev/null'
	co = checkout
	cp = cherry-pick
	gclone = !gh repo clone
	lp = log -p
	pfh = push -u duboisf HEAD
	poh = push -u origin HEAD
	pr-merge = !gh pr merge --merge --delete-branch
	prv = !gh pr view
[commit]
	verbose = true
	gpgsign = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = no
[diff]
	compactionHeuristic = true
	submodule = log
[url "git@github.com:"]
	insteadOf = https://github.com/

# vim: noet
