[submodule "nvim/.local/share/nvim/site/autoload/vim-plug"]
	path = nvim/.local/share/nvim/site/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "zsh/.zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug
[submodule "nvim/.local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = nvim/.local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
