[submodule "nvim/.local/share/nvim/site/autoload/vim-plug"]
	path = nvim/.local/share/nvim/site/autoload/vim-plug
	url = git://github.com/junegunn/vim-plug.git
[submodule "zsh/.zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug
